*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}

.background {
  background-color:gray;
  height: 100vh;
  width: 100%;
  /* margin: 4rem; */
}

.background-color {
  padding: 4rem;
}
